<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.fashion.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.zz.fashion.pojo.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="order_peisong_style_id" jdbcType="INTEGER" property="orderPeisongStyleId" />
    <result column="order_liuyan" jdbcType="VARCHAR" property="orderLiuyan" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>

  <resultMap id="BaseResultMap1" type="com.zz.fashion.pojo.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="order_peisong_style_id" jdbcType="INTEGER" property="orderPeisongStyleId" />
    <result column="order_liuyan" jdbcType="VARCHAR" property="orderLiuyan" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <association property="user"
                resultMap="com.zz.fashion.dao.UserMapper.BaseResultMap"
    ></association>
    <association property="peiSongStatus"
                resultMap="com.zz.fashion.dao.PeiSongStatusMapper.BaseResultMap"
    ></association>
    <association property="orderstatus"
                resultMap="com.zz.fashion.dao.OrderStatusMapper.BaseResultMap"
    ></association>
    <collection property="orderDetailList"
                resultMap="com.zz.fashion.dao.OrderDetailMapper.BaseResultMap"
    ></collection>
  </resultMap>

  <sql id="Base_Column_List">
    order_id, user_id, order_status, order_peisong_style_id, order_liuyan, flag
  </sql>

  <select id="selectOrder" parameterType="com.zz.fashion.pojo.Order" resultMap="BaseResultMap1">
    SELECT * FROM t_order o
    INNER JOIN t_order_status os
    ON o.order_status=os.order_status_id
    INNER JOIN t_user u
    ON u.id=o.user_id
    INNER JOIN t_peisong p
    ON p.peisong_id=o.order_peisong_style_id
    INNER JOIN t_order_detail od
    ON od.d_order_id=o.order_id
    INNER JOIN t_goods g
    ON g.id=od.o_goods_id
    <where>
      <if test="userId != null">
      and o.user_id = #{userId,jdbcType=INTEGER}
    </if>
      <if test="orderStatus != null">
       and o.order_status = #{orderStatus,jdbcType=INTEGER}
      </if>
      <if test="orderPeisongStyleId != null">
       and o.order_peisong_style_id = #{orderPeisongStyleId,jdbcType=INTEGER}
      </if>
      <if test="orderLiuyan != null">
       and o.order_liuyan = #{orderLiuyan,jdbcType=VARCHAR}
      </if>
      and o.flag=1
    </where>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zz.fashion.pojo.Order">
    insert into t_order (order_id, user_id, order_status, 
      order_peisong_style_id, order_liuyan, flag
      )
    values (#{orderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER}, 
      #{orderPeisongStyleId,jdbcType=INTEGER}, #{orderLiuyan,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zz.fashion.pojo.Order"  useGeneratedKeys="true" keyProperty="orderId">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="orderPeisongStyleId != null">
        order_peisong_style_id,
      </if>
      <if test="orderLiuyan != null">
        order_liuyan,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderPeisongStyleId != null">
        #{orderPeisongStyleId,jdbcType=INTEGER},
      </if>
      <if test="orderLiuyan != null">
        #{orderLiuyan,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zz.fashion.pojo.Order">
    update t_order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderPeisongStyleId != null">
        order_peisong_style_id = #{orderPeisongStyleId,jdbcType=INTEGER},
      </if>
      <if test="orderLiuyan != null">
        order_liuyan = #{orderLiuyan,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zz.fashion.pojo.Order">
    update t_order
    set user_id = #{userId,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER},
      order_peisong_style_id = #{orderPeisongStyleId,jdbcType=INTEGER},
      order_liuyan = #{orderLiuyan,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>