<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.fashion.dao.WomanTopStyleMapper">
  <resultMap id="BaseResultMap" type="com.zz.fashion.pojo.WomanTopStyle">
    <id column="woman_top_style_id" jdbcType="INTEGER" property="womanTopStyleId" />
    <result column="woman_top_style_name" jdbcType="VARCHAR" property="womanTopStyleName" />
  </resultMap>
  <sql id="Base_Column_List">
    woman_top_style_id, woman_top_style_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from woman_top_style
    where woman_top_style_id = #{womanTopStyleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from woman_top_style
    where woman_top_style_id = #{womanTopStyleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zz.fashion.pojo.WomanTopStyle">
    insert into woman_top_style (woman_top_style_id, woman_top_style_name
      )
    values (#{womanTopStyleId,jdbcType=INTEGER}, #{womanTopStyleName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zz.fashion.pojo.WomanTopStyle">
    insert into woman_top_style
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="womanTopStyleId != null">
        woman_top_style_id,
      </if>
      <if test="womanTopStyleName != null">
        woman_top_style_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="womanTopStyleId != null">
        #{womanTopStyleId,jdbcType=INTEGER},
      </if>
      <if test="womanTopStyleName != null">
        #{womanTopStyleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zz.fashion.pojo.WomanTopStyle">
    update woman_top_style
    <set>
      <if test="womanTopStyleName != null">
        woman_top_style_name = #{womanTopStyleName,jdbcType=VARCHAR},
      </if>
    </set>
    where woman_top_style_id = #{womanTopStyleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zz.fashion.pojo.WomanTopStyle">
    update woman_top_style
    set woman_top_style_name = #{womanTopStyleName,jdbcType=VARCHAR}
    where woman_top_style_id = #{womanTopStyleId,jdbcType=INTEGER}
  </update>
</mapper>